{% extends "partials/staff.twig" %}

{% block breadcrumb %}
{{ parent() }}
    <li class="">Imprest</li>
    <li class="">Apply</li>

{% endblock %}


{% block content %}


    <div class="card">
      <div class="card-body mx-auto col-md-8">

          <form action="/staff/imprest/apply" method="post" enctype="multipart/form-data">

              <div class="form-group">
                  <label for="dept">Department</label>
                  <input type="text"
                         class="form-control disabled" name="dept" value="{{ user.response[0]['department'] }}" id="dept"  placeholder="" disabled>
              </div>

              <div class="form-group">
                  <label for="descript">Nature of Duty</label>
                  <textarea class="form-control" name="descript" id="descript" rows="3"  required></textarea>
              </div>

              <div class="form-group">
                  <label for="itinerary">Proposed Itinerary</label>
                  <textarea class="form-control" name="itinerary" id="itinerary" rows="3" placeholder="optional"></textarea>
              </div>
              
              
              <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number"
                         class="form-control" name="amount" id="amount" min="1000" max="200000" placeholder="" required>
              </div>

              <div class="form-group">
                  <label for="est">Est. days away</label>
                  <input type="number"
                         class="form-control" name="est" id="est" min="1" value="0">
                  <span id="errordays" class="text-muted "></span>
              </div>
              <div class="form-group">
                  <label for="expDate">Expected date</label>
                  <input type="date"
                         class="form-control" name="expDate" min="{{ ''|date_modify('+5 days')|date('Y-m-d') }}" id="expDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>

              </div>

              <div class="form-group">
                  <label for="surDate">Surrender date</label>
                  <input type="date"
                         class="form-control" name="surDate" id="surDate" placeholder=""  required>
              </div>

              <div class="form-group">
                  <label for="attachment">Attach Recommendation</label>
                  <input type="file" class="form-control-file" name="attachment" id="attachment" placeholder="">
              </div>

              <div class="float-right">
                  <button type="reset" class="btn btn-danger">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </form>


      </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>

        $(function () {

            $('#expDate').on('blur',function () {
                var dat = new Date($(this).val());
                //add days away +48 hrs (2 days)
                var max=parseInt($('#est').val());

                $('#surDate').attr('min',dat.addDays(max).toJSON().split('T')[0])
                    .attr('max',dat.addDays(max+4).toJSON().split('T')[0])
            });


            $('#est').blur(function () {
                var daysObj= $('#errordays');
                $(this).removeClass('invalid');
               daysObj.text('');

                if($(this).val()===''){
                    $(this).val(0)
                }
                if($(this).val()<0){
                    $(this).addClass('invalid').focus();
                    daysObj.text('Invalid number of days!');
                }
            });
        });

    </script>
{% endblock %}



