<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <base href="{{ basUrl }}">
    <title>{{ appname }}</title>

    {% block styles %}

        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/app.css">

    {% endblock %}


</head>
<body>



{% block holder %}

    {#put all other page content here
    #}
{% endblock %}



{% block scripts %}

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

    {% include 'partials/plugins.twig' %}

    <script>
        $(function () {
            $('.table').dataTable();
        })
    </script>

{% endblock %}

</body>
</html>