{% extends "partials/admin.twig" %}

{% block content %}

    {% if dCount and dCount.status=='success' and dCount.code==200 %}
        {% set deptCount=dCount.response[0]['ct'] %}
    {% endif %}

    {% if sCount and sCount.status=='success' and sCount.code==200 %}
        {% set staffCount=sCount.response[0]['ct'] %}
    {% endif %}

    {% if sACount and sACount.code==200 %}
        {% set activeCount=sACount.response[0]['ct'] %}
    {% endif %}
    <div class="row mx-auto">

        <div class="card p-3 bg-flat-color-1 ml-md-1 col-md-4">
            <div class=" mb-0 card-body">

                <div class="text-center text-white">
                    <a href="/admin/view_all">
                        <i class="fa fa-users fa-4x text-white"></i>
                    </a>
                    <div class="pt-3">{{ staffCount|default(0) }} Staff Registered</div>
                </div>

            </div>
        </div>


        <div class="card p-3 bg-flat-color-4  ml-md-1  col-md-3">
            <div class=" mb-0 card-body">

                <div class="text-center text-white">
                    <div>
                        <i class="fa fa-dedent fa-4x text-white"></i>
                    </div>
                    <div class="pt-3">{{ activeCount|default(0) }} Active Staff Accounts</div>
                </div>

            </div>
        </div>
        <div class="card p-3 bg-flat-color-4  ml-md-1  col-md-4">
            <div class=" mb-0 card-body">

                <div class="text-center text-white">

                    <a href="/admin/add_department">
                        <i class="fa fa-dashcube fa-4x text-white"></i>
                    </a>
                    <div class="pt-3">{{ deptCount|default(0) }} Departments Registered</div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
