{% extends "partials/admin.twig" %}


{% block breadcrumb %}
    {{ parent() }}
    <li class="">staff</li>
    <li class="active">reports</li>
{% endblock %}


{% block content %}




{% endblock %}
